.bodyTable
{
  margin-bottom: 10px;
  border: 2px solid #FFF;
  border-spacing:0;
  border-radius: 6px;
  background-color : #FFFFFF;
} 

th 
{
  font-size : 15px;
  font-weight : bold;
  color: #fff;
  background-color: #FFF;
  color: #00CC00;
  height: 17px;
  padding: 5px 10px;
}

tbody tr:last-child td:first-child
{
  border-radius: 0 0 0 5px;
}

tr:last-child td:last-child
{
  border-radius: 0 0 5px 0;
}

td
{
  background-color : #FFFFFF;
  border: 1px solid #F1F1F1;
  border-width : 1px 0 0 0;
  padding: 5px 10px;
}

tr.row0 td
{
  background-color : #FFFFFF;
  padding: 5px 10px;
}

tr.row1 td
{
  background-color : #FAFAFA;
  padding: 5px 10px;
}

th.thCornerR 
{
  border-radius: 0px 5px 0 0;
}

th.thCornerL 
{
  border-radius: 5px 0px 0 0;
} 
