<h1>Détails de la séquence</h1>
<div class="cadreh1">
Fonction : {$logic->to_string()} <br />
Forme disjonctive : {$veritas->getMinimalDisjunctiveForm()} ({$veritas->outputToString()}) <br />
Table de vérité : <br />
{$veritas->toHTML()}
<a class="minibouton" href="listSeq.php?output={$veritas->getMinimalOutput()}"><span>{t('Voir les séquences implémentant la fonction.')}</span></a>
</div> 
