
	<table class="bodyTable">
	<tr>
	    <th>Nombre d'inputs</th>
	    <th>Forme disjonctive minimale</th>
	    <th>Forme normale disjonctive (binaire)</th>
	    <th>Nombre de séquences implémentant la fonction</th>
	    <th></th>
	</tr>
	{foreach $listeFonctions as $fonction}
	<tr><td>{$fonction->howManyInputs()}</td>
	    <td>{$fonction->getMinimalLogic()}</td>
	    <td>{$fonction->getOutput()}</td>
	    <td>{$fonction->getNbWords()}</td>
	    <td><a class="minibouton" href="listSeq.php?output={$fonction->getOutput()}"><span>{t('Voir les séquences')}</span></a>
	</tr>
	{/foreach}
    </table>
  <div class="pageBarre">
    {t('Page')} :{foreach $pages as $page} {$page}{/foreach}
  </div>