<h1>Intrepréter une séquence</h1>
<div class="cadreh1">
<form method="post" action="#" onsubmit="return false;">
	  <label for="sequence">{t('Entrer une séquence')}</label>&nbsp;:&nbsp;<input type="text" class="post" style="width: 320px" id="sequence" name="sequence" value="{$sequence}" onkeyup="chargeAjax('#resultat', 'interSeq.php?sequence='+encodeURI($('#sequence').val()));" />
      <input type="submit" name="submit" value="Interpréter" onclick="chargeAjax('#resultat', 'interSeq.php?sequence='+$('#sequence').val());" class='mainoption'/>
      </form>
</div> 
<div id="resultat">
</div>