<table class="bodyTable">
    <tr>
	<th>Séquence</th>
	<th>Format texte</th>
	<th>Nombre d'inputs</th>
	<th>Fonction booléenne</th>
	<th>Gènes</th>
	<th>Longueur (bases)</th>
	<th></th></tr>
    {foreach $listeSequences as $sequence}
    <tr>
	<td>{$sequence->toHTML()}</td>
	<td>{$sequence->to_string()}</td>
	<td>{$sequence->howManyInputs()}</td>
	<td>{$sequence->getMinimalLogic()}</td>
	<td>{$sequence->getNbG()}</td>
	<td>{$sequence->getLength()}</td>
	<td><a class="minibouton" href="sequence.php?id_w={$sequence->getId_w()}"><span>{t('Voir les détails')}</span></a>
    </tr>
    {/foreach}
</table>
  <div class="pageBarre">
    {t('Page')} :{foreach $pages as $page} {$page}{/foreach}
  </div> 
